.logo-img{
  margin-bottom: 40px;
}
.bottom-align{
  position: absolute;
  bottom: 0;
}
body{
  background-color: #BBDEFB;
  height: 100vh!important;
}
.rpm-content{
    max-width: 290px;
    max-height: 445px;
    margin-top: calc(50vh - 222.5px);
    padding: 15px;
}
.rpm-box{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 1px;
    background-color: white;
}


.rpm-footer{
  margin-top: 10px;
  width: 290px;
  margin-left: calc(50vw - 145px);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 10px;
  display: flex;
  align-items: center;
  height: 30px;
}
.rpm-footer .row{
  width: 290px;
}
