<div class="row">
  <div class="container-fluid text-center rpm-content rpm-box rpm-text">
    <div id="mensagens" class="alert alert-success">
      <h5>{{form.mensagens.torres}}</h5>
      <h5>{{form.mensagens.distTorre1}}</h5>
      <h5>{{form.mensagens.distTorre2}}</h5>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-primary" name="button" ng-click="form.torresClick(form.torresFalha)">Torres</button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-primary" name="button" ng-click="form.voltarClick('/')">Voltar</button>
      </div>
    </div>
  </div>
</div>
